<h1>Awesome freaking science!</h1>

<table class="table tabel-striped">
  <thead>
    <tr>
      <th>Post </th>
      <th>Description </th>
      <th>Options </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <%= render @pins %>
</tbody>

</table>

<br />

<%= link_to 'New Post', new_pin_path %>
