<h1>Contact Us</h1>
<p>
	<%= link_to "Science Snobs", "#" %>
	is a project to teach 
	<%= link_to "Ruby On Rails", "httlp://rubyonrails.org" %>
in one month. This is the sample application, and I hope you like it. 
</p>